<script type="text/x-jquery-tmpl">

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <a class="brand" href="#">
                  blogr
                </a>
                                    
                <form class="navbar-search pull-left" action="">
                    <input class="search-query span2" type="text" placeholder="Search">
                </form>
                
                <ul class="nav pull-right">

                    <% if ($data.authorized()) { %>

                        <li><a class="nav-to" data-bind="attr: { href: userUrl }">my profile</a></li>
                        <li><a class="nav-to" href="/auth/signout">sign out</a></li>

                    <% } else { %>

                        <li><a class="nav-to" href="/auth/signin">sign in</a></li>
                        <li><a class="nav-to" href="/users/new">register</a></li>                    

                    <% } %>

                </ul>
                
            </div>
        </div>
    </div>
    
</script>