<script type="text/x-jquery-tmpl">

    <div class="page-header">
        <h1>
            <span data-bind="text: title" />
            <small class="pull-right">
                <a class="nav-to" data-bind="attr: { href: editHref }">edit</a>
            </small>
        </h1>
    </div>
    
    
    <div class="row">
        <section class="span8">
            <p class="leader" data-bind="text: leader" />
            <div data-bind="html: contentHtml" />
        </section>
        <section class="span4">
            <p class="leader">
                Tags:<br />
                <% _.each(tags(), function(tag, index, tags) { %>
                    <a class="nav-to" href="<%= '/search/tag/' + tag %>"><%= tag %></a>
                    <% if (index < tags.length - 1) { %>
                        &sdot;
                    <% } %>
                <% }); %>
            </p>
        </span>
    </div>
        
</script>