<script type="text/x-jquery-tmpl">

    <div class="page-header">
        <h1>
            <span data-bind="text: screen_name" /><span>'s profile</span>
            <small class="pull-right">
                <a class="nav-to" data-bind="attr: { href: editHref }">edit</a>
            </small>
        </h1>
    </div>
    
    <div class="row">
        <div class="span4">
            <section>
                <h2>About me</h2>

                <hr />
                

                <div class="profile clearfix">
                    
                    <% if (bio()) { %>
                    
                        <div class="thumbnail pull-left">
                            <img data-bind="attr: { src: avatar_url }" />
                        </div>
                        <h4 data-bind="text: screen_name" />
                        <em><p data-bind="text: bio" /></em>
                    
                    <% } else { %>
                        
                        <p><a data-bind="attr: { href: editHref }">Tell the world a little about yourself</a></p>
                    
                    <% } %>
                        
                </div>

                <p>Contact: <a data-bind="attr: { href: emailHref }, text: email" /></p>
            <section>
            <hr />
            <section>
                <% if (blogs.length > 0) { %>
                    <h2>Blogs</h2>
                    <hr />                
                    <div data-bind="template: { name: 'blog-list-tmpl', data: blogs() }"></div>
                <% } %>
            </section>
        </div>
        <div class="span8">
            <section>
                <% if (blogs.length > 0) { %>
                    <h2>Recent Posts</h2>
                    <hr />
                    <div data-bind="template: { name: 'blog-post-list-tmpl', data: recent_posts() }"></div>
                <% } else { %>
                    <!-- TODO: only show this if authenticated as user -->
                    <h2>Get Started</h2>
                    <hr />
                    <p>Time to get going.  Click here to start a new blog.</p>
                <% } %>
            </section>
        </div>
    </div>



</script>